spring:
  application:
    name: order-service
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: pass
  cloud:
    function:
      definition: inventoryReservedEventConsumer;inventoryRejectedEventConsumer
    stream:
      bindings:
        # Outs
        reserveOrder-out-0:
          destination: marketplace.topic
          content-type: application/json
        processPayment-out-0:
          destination: marketplace.topic
          content-type: application/json
        # Binding de ENTRADA (Consumer) - recibe mensajes
        inventoryReservedEventConsumer-in-0:
          destination: marketplace.topic
          content-type: application/json
          group: order.inventory_updated.queue  # Importante para consumers
        inventoryRejectedEventConsumer-in-0:
          destination: marketplace.topic
          content-type: application/json
          group: order.inventory_rejected.queue  # Importante para consumers
      rabbit:
        bindings:
          # Outs
          reserveOrder-out-0:
            producer:
              routingKeyExpression: "headers['routingKey'] ?: 'order.inventory_reserved'"
          processPayment-out-0:
            producer:
              routingKeyExpression: "headers['routingKey'] ?: 'order.process_payment'"
          # Ins
          inventoryReservedEventConsumer-in-0:
            consumer:
              bindingRoutingKey: "order.inventory_updated.#"
          inventoryRejectedEventConsumer-in-0:
            consumer:
              bindingRoutingKey: "order.inventory_rejected.#"
springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
